@page "/import/skyeye"
@using JustProxies.Integration.Core
@using JustProxies.Integration.SkyEye
@inject ISkyEyeIntegration SkyEyeIntegration
@rendermode InteractiveServer
@attribute [StreamRendering]

<PageTitle>请求导入</PageTitle>

<Card>
    <BodyTemplate>
        <ValidateForm Model="Queries">
            <Row ItemsPerRow="ItemsPerRow.Three" RowType="RowType.Inline">


                <BootstrapInput PlaceHolder="请输入模块" @bind-Value="@Queries.Module"
                                DisplayText="模块" ShowLabel="true" />
                <BootstrapInput PlaceHolder="请输入分类" @bind-Value="@Queries.Category"
                                DisplayText="分类" ShowLabel="true" />
                <BootstrapInput PlaceHolder="请输入子分类" @bind-Value="@Queries.SubCategory"
                                DisplayText="子分类" ShowLabel="true" />
                <BootstrapInput PlaceHolder="请输入过滤1" @bind-Value="@Queries.Filter1"
                                DisplayText="过滤1" ShowLabel="true" />
                <BootstrapInput PlaceHolder="请输入过滤2" @bind-Value="@Queries.Filter2"
                                DisplayText="过滤2" ShowLabel="true" />
                <Button OnClick="@ButtonClick" Color="Color.Primary">查询日志</Button>
            </Row>
        </ValidateForm>
    </BodyTemplate>
</Card>
<Divider></Divider>
<div style="height:80vh">
    <Table TItem="SkyEyeLogContent" Items="@QueryResults" RenderMode="TableRenderMode.Table"
           IsBordered="true" IsStriped="true" ScrollMode="ScrollMode.Virtual"
           TableSize="TableSize.Normal" IsFixedHeader="true" AllowResizing="true">
        <TableColumns>
            <TableColumn @bind-Field="@context.LogTime" Text="时间" Width="180" />
            <TableColumn @bind-Field="@context.Priority" Text="日志级别" Width="80">
                <Template Context="v">
                    @switch (v.Value)
                    {
                        case SkyEyeLogLevel.Fatal:
                            <Tag Color="Color.Danger">
                                致命
                            </Tag>
                            break;
                        case SkyEyeLogLevel.Error:
                            <Tag Color="Color.Danger">
                                错误
                            </Tag>
                            break;
                        case SkyEyeLogLevel.Warn:
                            <Tag Color="Color.Warning">
                                警告
                            </Tag>
                            break;
                        case SkyEyeLogLevel.Info:
                            <Tag Color="Color.Primary">
                                信息
                            </Tag>
                            break;
                        case SkyEyeLogLevel.Debug:
                            <Tag Color="Color.Info">
                                调试
                            </Tag>
                            break;
                        default:
                            <Tag Color="Color.Info">
                                信息
                            </Tag>
                            break;
                    }

                </Template>
            </TableColumn>
            <TableColumn @bind-Field="@context.Msg" Text="日志消息"
                         TextWrap="true"
                         Filterable="true" />
            <TableColumn Text="操作" @bind-Field="@context.Id" Width="100">
                <Template Context="v">
                    <Button class="btn btn-primary" Size="Size.ExtraSmall">
                        可视化
                    </Button>
                </Template>
            </TableColumn>
        </TableColumns>
    </Table>


</div>

@code {

    private SkyEyeQueries Queries { get; set; } = new();
    private List<SkyEyeLogContent> QueryResults { get; set; } = new();


    private async Task ButtonClick()
    {
        var resp = await SkyEyeIntegration.QueryAsync(this.Queries);
        if (resp!.Code == 200 && resp.Result is { Count: > 0, List.Count: > 0 })
        {
            QueryResults = resp.Result.List!;
        }
    }

}